!!! 5
html
  head
    title hackernews_blacklist Options
    script(src='../vendor/md5.js')

    script(src='funcbag.js')
    script(src='filter.js')

    script(src='extstorage.js')
    script(src='defaults.js')
    script(src='options.js')

    style(type='text/css')
      body {
        background-color: white;
        color: black;
      }
      table {
        border-collapse: collapse
      }
      th, td {
        border: 1px solid black;
        padding: 3px;
      }
      .colorbox {
        background: yellow;
        border: 1px solid blue;
        padding: 3px;
        display: block;
      }

      #lists {
        /* background-color: yellow; */
        float: left;
        margin-right: 15px;
        width: 60%;
      }
      #favorites {
        /* background-color: gray; */
        float: left;
      }
      #lists, #favorites {
        display: table;
      }

      #hostname, #linktitle-bl {
        float: left;
        padding-right: 10px;
      }
      #username, #linktitle-wl, #footer {
        float: left;
      }
      #row1, #row2, #row3 {
        display: table;
      }
      #row1 {
        /* background-color: blue; */
      }
      #row2 {
        /* background-color: teal; */
      }
      #row3 {
        /* background-color: green; */
        margin-top: 25px;
      }

  body

    #lists
      #row1
        #hostname
          h2 Hostname
          form
            | Blacklist (exact match)
            br
            textarea(name='hostname', cols='32', rows='5')

        #username
          h2 User Name
          form
            | Blacklist (exact match)
            br
            textarea(name='username', cols='32', rows='5')

      #row2
        form#linktitle-bl
          h2 Link Title
          | Blacklist (regexp)
          br
          textarea(name='linktitle-bl', cols='32', rows='5')

        form#linktitle-wl
          h2 &#0160;
          | Whitelist (regexp)
          br
          textarea(name='linktitle-wl', cols='32', rows='5')

      #row3
        #footer
          button#save Save
          button#defaults Defaults
          button#export Export
          button#import Import

          #help
            p
              | Until you hit <samp>Save</samp>, options are untouched. This
              | includes <samp>Defaults</samp> & import. <samp>Export</samp>
              | exports current values that may not necessarily be saved yet.
            p
              | Every list is a string where entries are separated by newlines.
              | Regexp-based lists are slower that exact match lists.
              | Regexp lists are case insensitive, exact match lists are.
            p
              | Hostname list has nothing to do with domain names listed in
              | brackets on HN page. To get actual values:

              ol
                li Press F12 after HN page is loaded.
                li Click on 'Console' tab.
                li
                  | There must be several lines of text. Every line is
                  | separated by comma. You need the 2nd field.

    #favorites
      h2 Favorites in Color
      | Whitelist (exact match)
      form
        table
          tr
            th: | &#8715;
            th: | User name
          - for (var key in locals)
            - if (key === 'silver') continue
            tr
              td
                span.colorbox= key
              td
                input.usercolor(name=key)
