!!! 5
html
  head
    title hackernews_blacklist Options
    script(src='../vendor/md5.js')

    script(src='mixins.js')
    script(src='filter.js')

    script(src='extstorage.js')
    script(src='defaults.js')
    script(src='options.js')

    style(type='text/css')
      body {
        background-color: white;
        color: black;
      }

      #linktitle-bl, #hostname {
        float: left;
        padding-right: 10px;
      }
      #linktitle-wl, #username {
        float: left;
      }
      #linktitle, #blacks {
        display: table;
      }

  body

    #blacks
      #hostname
        h2 Hostname
        form
          | Blacklist (exact match)
          br
          textarea(name='hostname', cols='32', rows='5')

      #username
        h2 User Name
        form
          | Blacklist (exact match)
          br
          textarea(name='username', cols='32', rows='5')

    #linktitle
      h2 Link Title
      form#linktitle-bl
        | Blacklist (regexp)
        br
        textarea(name='linktitle-bl', cols='32', rows='5')

      form#linktitle-wl
        | Whitelist (regexp)
        br
        textarea(name='linktitle-wl', cols='32', rows='5')

    #footer
      hr
      button#save Save
      button#defaults Defaults
      button#download Export to file
      button#upload Load from file

      #help
        p
          | Every list is a string where entries are separated by newlines.
          | Regexp-based lists are slower that exact match lists.
          | Regexp lists are case insensitive, exact match lists are.
        p
          | Hostname list has nothing to do with domain names listed in
          | brackets on HN page. To get actual values:

          ol
            li Press F12 after HN page is loaded.
            li Click on 'Console' tab.
            li
              | There must be several lines of text. Every line is
              | separated by comma. You need the 2nd field.
